# Ignore everything.
*

# Ignore the root directory.
#/*

# Descend into directories.
#!*/

# Allow directories in .config.
!/.config/
!/.config/**/

# shell (common)
!.dir_colors

# bash
!.bashrc
!.bash_profile

# fish
!.config/fish/config.fish
!.config/fish/functions/*

# python
!.ipython/*/ipython_config.py

# vim
!.vimrc

# ansible
!.ansible.cfg

